@keyframes fade-out-to-black {
	0% {
		background-color: white;
	}
	50% {
		background-color: black;
	}
	100% {
		background-color: none;
	}
}

@keyframes expand-menu {
	0% {
        transform: scaleY(0);

    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

@keyframes zoom-out {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}

@keyframes twirl {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(90deg);
	}
}

.fade-out--black {
	animation-name: fade-out-to-black;
	animation-duration: 5000ms;
	animation-fill-mode: forwards;
}

.exapnd-menu {
	animation-name: expand-menu;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.zoom {
	animation-name: zoom;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.zoom-out {
	animation-name: zoom-out;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;

}
