.helper-spacing__heading {
	margin-top: 2rem;
}

.helper-spacing__paragraph {
	margin-top: 1rem;
}

.helper-spacing__general {
	margin-top: 1.5rem;
}

.helper--hidden {
	visibility: hidden;
}

.helper--visible {
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 480px) {

}